## Observations and Insights

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files_
mouse_metadata_path = "data_files/Mouse_metadata.csv"
study_results_path = "data_files/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset (merge with an inner join on mouse ID)
main_study_df =  pd.merge(mouse_metadata,study_results,on="Gender")

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np
from scipy.stats import gaussian_kde
import scipy.stats as sts
# Study data files_
zillowdayspath = "data_files/DaysonZillow.csv"
zillowpricepath = "data_files/SalePrice.csv"

# Read the mouse data and the study results
zillow_days_df = pd.read_csv(zillowdayspath)
zillow_price_df = pd.read_csv(zillowpricepath)
zillow_days_df

,SizeRank,RegionID,RegionName,RegionType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,0,102001,United States,Country,139.0,142.0,143.0,140.0,119.0,111.0,...,72.0,67.0,67.0,69.0,71.0,75.0,77.0,77.0,83.0,93.0
1,1,394913,"New York, NY",Msa,199.0,202.0,201.0,200.0,208.0,160.0,...,139.0,119.0,115.0,117.0,121.0,129.0,133.0,138.0,137.0,143.0
2,2,753899,"Los Angeles-Long Beach-Anaheim, CA",Msa,123.0,137.0,122.0,101.0,84.0,93.0,...,64.0,62.0,63.0,65.0,67.0,68.0,70.0,69.0,74.0,81.0
3,3,394463,"Chicago, IL",Msa,184.0,193.0,190.0,189.5,172.0,132.0,...,77.0,72.0,74.0,77.0,81.0,85.0,92.0,95.0,101.0,116.0
4,4,394514,"Dallas-Fort Worth, TX",Msa,117.0,115.0,115.0,107.0,96.0,94.0,...,59.0,57.0,57.0,59.0,61.0,70.0,74.0,74.0,80.0,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,655,394578,"Evanston, WY",Msa,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,83.0,59.0,64.0,69.0,94.0,99.0,133.0,121.5,114.5
656,656,395004,"Prineville, OR",Msa,NaN,NaN,NaN,NaN,NaN,NaN,...,93.0,78.0,71.0,73.0,77.0,88.0,113.0,114.0,97.0,140.0
657,657,786263,"Ruidoso, NM",Msa,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,93.0,93.0,91.0,132.5,107.0,116.0,140.0,161.0,135.0
658,658,394805,"Los Alamos, NM",Msa,NaN,NaN,NaN,NaN,NaN,NaN,...,49.0,40.0,44.0,44.0,42.5,46.5,49.0,46.0,47.0,52.0
659,659,395111,"Spencer, IA",Msa,NaN,NaN,NaN,NaN,NaN,NaN,...,115.0,75.0,62.0,68.0,59.0,64.5,61.0,73.0,76.5,112.0

In [2]:
# clean up for 2019 only
unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2010')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2011')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2012')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2013')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2014')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2015')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2016')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2017')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2018')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('2020')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('Size')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_days_df.columns[zillow_days_df.columns.str.startswith('RegionType')]
zillow_days_df.drop(unwanted, axis=1, inplace=True)
zillow_days_df

,RegionID,RegionName,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,102001,United States,95.0,98.0,84.0,72.0,67.0,67.0,69.0,71.0,75.0,77.0,77.0,83.0
1,394913,"New York, NY",140.0,147.0,148.0,139.0,119.0,115.0,117.0,121.0,129.0,133.0,138.0,137.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",86.0,89.0,70.0,64.0,62.0,63.0,65.0,67.0,68.0,70.0,69.0,74.0
3,394463,"Chicago, IL",114.0,122.0,117.0,77.0,72.0,74.0,77.0,81.0,85.0,92.0,95.0,101.0
4,394514,"Dallas-Fort Worth, TX",77.0,77.0,63.0,59.0,57.0,57.0,59.0,61.0,70.0,74.0,74.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,394578,"Evanston, WY",NaN,NaN,158.0,100.0,83.0,59.0,64.0,69.0,94.0,99.0,133.0,121.5
656,395004,"Prineville, OR",115.0,141.0,143.0,93.0,78.0,71.0,73.0,77.0,88.0,113.0,114.0,97.0
657,786263,"Ruidoso, NM",NaN,NaN,87.5,113.0,93.0,93.0,91.0,132.5,107.0,116.0,140.0,161.0
658,394805,"Los Alamos, NM",54.0,68.0,45.0,49.0,40.0,44.0,44.0,42.5,46.5,49.0,46.0,47.0
659,395111,"Spencer, IA",NaN,NaN,NaN,115.0,75.0,62.0,68.0,59.0,64.5,61.0,73.0,76.5

In [3]:
# clean up price for 2019 only

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2008')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2009')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)


unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2010')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2011')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2012')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2013')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2014')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2015')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2016')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2017')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2018')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('2020')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)

unwanted = zillow_price_df.columns[zillow_price_df.columns.str.startswith('Size')]
zillow_price_df.drop(unwanted, axis=1, inplace=True)



zillow_price_df

,RegionID,RegionName,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,102001,United States,226000,228300,230900,231500.0,231300.0,231900.0,232400.0,233100.0,233800.0,235900.0,239200.0,242100.0
1,394913,"New York, NY",386900,389400,390100,392500.0,392400.0,393700.0,394800.0,396100.0,398800.0,402900.0,408500.0,414100.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",626800,625900,631800,635600.0,633200.0,631200.0,633500.0,637900.0,642100.0,644400.0,650700.0,658300.0
3,394463,"Chicago, IL",219100,223600,233300,236200.0,232500.0,226500.0,222800.0,223300.0,224800.0,228000.0,229900.0,233900.0
4,394514,"Dallas-Fort Worth, TX",248500,249400,249400,250400.0,251200.0,252700.0,254000.0,256000.0,258400.0,261300.0,263500.0,265400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,395135,"Storm Lake, IA",117900,130100,108300,111000.0,107000.0,124000.0,125800.0,119600.0,128400.0,134900.0,140800.0,130100.0
619,395236,"Woodward, OK",111100,102200,108900,124700.0,130000.0,118600.0,113300.0,122900.0,121000.0,135900.0,128500.0,132700.0
620,394805,"Los Alamos, NM",341800,357000,370200,352300.0,331800.0,336800.0,353700.0,378400.0,372700.0,380500.0,355800.0,340100.0
621,395111,"Spencer, IA",115500,117500,115200,125700.0,126800.0,131900.0,118500.0,129800.0,126800.0,129400.0,128400.0,134500.0
622,395112,"Spirit Lake, IA",237700,227800,221900,192600.0,217900.0,229700.0,223300.0,219200.0,221900.0,203200.0,208000.0,207700.0

In [4]:
merge_df =  pd.merge(zillow_price_df,zillow_days_df,on="RegionID")
merge_df

,RegionID,RegionName_x,2019-01_x,2019-02_x,2019-03_x,2019-04_x,2019-05_x,2019-06_x,2019-07_x,2019-08_x,...,2019-03_y,2019-04_y,2019-05_y,2019-06_y,2019-07_y,2019-08_y,2019-09_y,2019-10_y,2019-11_y,2019-12_y
0,102001,United States,226000,228300,230900,231500.0,231300.0,231900.0,232400.0,233100.0,...,84.0,72.0,67.0,67.0,69.0,71.0,75.0,77.0,77.0,83.0
1,394913,"New York, NY",386900,389400,390100,392500.0,392400.0,393700.0,394800.0,396100.0,...,148.0,139.0,119.0,115.0,117.0,121.0,129.0,133.0,138.0,137.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",626800,625900,631800,635600.0,633200.0,631200.0,633500.0,637900.0,...,70.0,64.0,62.0,63.0,65.0,67.0,68.0,70.0,69.0,74.0
3,394463,"Chicago, IL",219100,223600,233300,236200.0,232500.0,226500.0,222800.0,223300.0,...,117.0,77.0,72.0,74.0,77.0,81.0,85.0,92.0,95.0,101.0
4,394514,"Dallas-Fort Worth, TX",248500,249400,249400,250400.0,251200.0,252700.0,254000.0,256000.0,...,63.0,59.0,57.0,57.0,59.0,61.0,70.0,74.0,74.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,395130,"Sterling, CO",147100,153000,155300,166000.0,164800.0,171400.0,162000.0,157800.0,...,NaN,71.0,63.0,83.5,69.5,79.0,88.5,94.0,69.0,74.0
525,394418,"Brookings, OR",315400,329700,331100,328600.0,336700.0,337800.0,338600.0,322700.0,...,153.0,86.0,117.0,100.5,98.5,108.0,153.5,130.0,121.0,143.0
526,395004,"Prineville, OR",252100,255900,256700,254700.0,277400.0,290300.0,284700.0,272600.0,...,143.0,93.0,78.0,71.0,73.0,77.0,88.0,113.0,114.0,97.0
527,394805,"Los Alamos, NM",341800,357000,370200,352300.0,331800.0,336800.0,353700.0,378400.0,...,45.0,49.0,40.0,44.0,44.0,42.5,46.5,49.0,46.0,47.0
528,395111,"Spencer, IA",115500,117500,115200,125700.0,126800.0,131900.0,118500.0,129800.0,...,NaN,115.0,75.0,62.0,68.0,59.0,64.5,61.0,73.0,76.5

In [5]:
zillow_days_df.describe()

,RegionID,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
count,660.000000,533.000000,562.000000,579.000000,592.000000,609.000000,631.000000,644.000000,660.000000,660.000000,660.000000,660.000000,660.000000
mean,413518.604545,102.351782,106.379004,99.415371,87.918919,77.766010,74.000792,74.305124,76.300758,80.013636,83.382576,86.079545,91.452273
std,82088.292232,23.454194,25.818759,31.320460,31.201697,24.101209,21.024749,19.983266,18.400083,19.920513,20.675638,22.598699,22.242311
min,102001.000000,42.000000,47.000000,42.000000,42.000000,40.000000,43.000000,44.000000,42.500000,46.000000,48.000000,46.000000,47.000000
25%,394546.750000,86.000000,89.000000,75.000000,67.000000,62.000000,61.000000,61.000000,63.500000,66.500000,69.000000,70.000000,76.875000
50%,394797.000000,97.000000,103.000000,94.000000,80.000000,71.000000,69.500000,70.000000,72.500000,75.500000,79.000000,81.000000,86.750000
75%,395046.250000,116.000000,121.000000,119.500000,98.000000,89.000000,82.000000,82.000000,85.000000,90.000000,93.125000,97.500000,101.000000
max,786263.000000,196.000000,218.000000,213.500000,281.000000,237.000000,252.000000,188.000000,164.000000,195.000000,194.000000,217.000000,196.000000

## Summary Statistics

In [6]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
round(cleaned_df.describe(),2)
# This method is the most straighforward, creating multiple series and putting them all together at the end.

NameError: name 'cleaned_df' is not defined

## Bar Plots

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.
mice_per_treament_df = cleaned_df
counts_df = mice_per_treament_df.groupby('Timepoint').nunique()
mice_df = counts_df
labels= ['0','5','10','15','20','30','35','40','45']
ax = mice_df.plot.bar(y='Mouse ID', rot=0)
plt.ylabel("Count of Mice")

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.


x_axis = np.arange(len(mice_df))
tick_locations = [value for value in x_axis]
labels= ['0','5','10','15','20','25','30','35','40','45']
values = mice_df["Mouse ID"]
tick_locations = [values+0.4 for value in x_axis]

plt.figure(figsize=(12, 4))

plt.subplot(131)
plt.bar(labels, values)
plt.title('Count of mice v time point ')
plt.ylabel('Count of mice')
plt.subplot(132)
plt.scatter(labels, values)
plt.subplot(133)
plt.plot(labels, values)
plt.title('Count of mice v time point ')
plt.ylabel('Count of mice')
plt.show()


mice_df.plot.barh

## Pie Plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas
mice_gender_df = drop_dup_df.groupby("Sex")
male = mouse_metadata["Sex"].value_counts()['Male']
female = mouse_metadata["Sex"].value_counts()['Female']
mice=male+female
df= pd.DataFrame({'sex': [male, female]},index=['male', 'female'])
df.plot.pie(y='sex', figsize=(4, 4))
plt.show()

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot
mice_gender_df = drop_dup_df.groupby("Sex")
male = mouse_metadata["Sex"].value_counts()['Male']
female = mouse_metadata["Sex"].value_counts()['Female']
mice=male+female
mice_gender_df.head()

print('male:', male, 'Female: ', female, 'Total: ', mice)
#pyplot pie
# Labels for the sections of our pie chart
labels = ["Male", "Female"]

# The values of each section of the pie chart
sizes = [male, female]

# The colors of each section of the pie chart
colors = ["cyan", "pink"]

# Tells matplotlib to seperate the "Humans" section from the others
explode = (0.1, 0,)
           
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. 
 
treatment_df = drop_dup_df[drop_dup_df['Timepoint']==45]

treatment_df = treatment_df.sort_values("Drug Regimen")
treatment_df = treatment_df.reset_index(drop=True)

treatment_df = treatment_df.rename({"Drug Regimen": "Treatment","Tumor Volume (mm3)":"Final_vol"}, axis = 'columns')
treatments = treatment_df["Treatment"].unique()

treatment_df
treatment_vol = treatment_df[['Treatment','Final_vol']]

treat_avg = treatment_vol.groupby('Treatment').mean()

treat_avg = treat_avg.sort_values("Final_vol")
print('Top 4 treatments')
print(treat_avg.head(4))

#Outlier Analysis

In [ ]:
#create individual data frames for each treatment(Drug Regimen)
#Ramicane
Ramicane_df = treatment_vol[treatment_vol['Treatment']=='Ramicane']
Ramicane_df = Ramicane_df.reset_index(drop=True)
Ramicane_df = Ramicane_df.rename({"Treatment": "TRamicane","Final_vol":"Ramicane"}, axis = 'columns')
#Capomulin
Capomulin_df = treatment_vol[treatment_vol['Treatment']=='Capomulin']
Capomulin_df = Capomulin_df.reset_index(drop=True)
Capomulin_df = Capomulin_df.rename({"Treatment": "TCopomulin","Final_vol":"Capomulin"}, axis = 'columns')
#Ceftamin
Ceftamin_df = treatment_vol[treatment_vol['Treatment']=='Ceftamin']
Ceftamin_df = Ceftamin_df.reset_index(drop=True)
Ceftamin_df = Ceftamin_df.rename({"Treatment": "TCeftamin","Final_vol":"Ceftamin"}, axis = 'columns')
#infbinol
Infubinol_df = treatment_vol[treatment_vol['Treatment']=='Infubinol']
Infubinol_df = Infubinol_df.reset_index(drop=True)
Infubinol_df = Infubinol_df.rename({"Treatment": "TInfubinol","Final_vol":"Infubinol"}, axis = 'columns')
#Placebo (control group)
Placebo_df = treatment_vol[treatment_vol['Treatment']=='Placebo']
Placebo_df = Placebo_df.reset_index(drop=True)
Placebo_df = Placebo_df.rename({"Treatment": "TPlacebo","Final_vol":"Placebo"}, axis = 'columns')

print(treatment_vol)
a=Ramicane_df.iloc[:,1:].values  
b=Capomulin_df.iloc[:,1:].values 
c=Ceftamin_df.iloc[:,1:].values 
d=Infubinol_df.iloc[:,1:].values

print(Ramicane_df)
print(Capomulin_df)

In [ ]:
horizontal_stack = pd.concat([Ramicane_df, Capomulin_df,Ceftamin_df,Infubinol_df,Placebo_df], axis=1)

df=horizontal_stack


df=df.drop(df.columns[[0,2,4,6,8]], axis = 1)


Ramicane = df['Ramicane']
Capomulin = df['Capomulin']
Ceftamin = df['Ceftamin']
Infubinol = df['Infubinol']

In [ ]:
#Calculate the IQR and quantitatively determine if there are any potential outliers.


q_ram = Ramicane.quantile([.25,.5,.75])
lowerq_ram = q_ram[0.25]
upperq_ram = q_ram[0.75]
iqr_ram = upperq_ram-lowerq_ram
q_cap = Capomulin.quantile([.25,.5,.75])
lowerq_cap = q_cap[0.25]
upperq_cap = q_cap[0.75]
iqr_cap = upperq_cap-lowerq_cap
iqr_ram
iqr_cap

lbcap = lowerq_cap - (1.5*iqr_cap)
ubcap = upperq_cap + (1.5*iqr_cap)
cap_outliers = Capomulin_df.loc[(Capomulin_df['Capomulin'] < lowerq_cap) | (Capomulin_df['Capomulin'] > upperq_cap)]

print(cap_outliers)

In [ ]:
# Here's a function to create density plots for the df of treatment tumor volume
# note this is a free-to-use function not the original code of this student
import os
import numpy as np
from scipy.stats import gaussian_kde
import warnings

try:
    from pandas.plotting._tools import (_subplots, _flatten)
except:
    #TODO this is a quick fix for #38
    from pandas.plotting._matplotlib.tools import (_subplots, _flatten)

from pandas import (DataFrame, Series)
from pandas.core.dtypes.common import is_number
from pandas.core.groupby import DataFrameGroupBy
from matplotlib import pyplot as plt
from warnings import warn

_DEBUG = False

def _x_range(data, extra=0.1):
    """ Compute the x_range, i.e., the values for which the
        density will be computed. It should be slightly larger than
        the max and min so that the plot actually reaches 0, and
        also has a bit of a tail on both sides.
    """
    try:
        sample_range = np.nanmax(data) - np.nanmin(data)
    except ValueError:
        return []
    if sample_range < 1e-6:
        return [np.nanmin(data), np.nanmax(data)]
    return np.linspace(np.nanmin(data) - extra*sample_range,
                       np.nanmax(data) + extra*sample_range, 1000)
def _setup_axis(ax, x_range, col_name=None, grid=False, ylabelsize=None, yrot=None):   # jp axis
    """ Setup the axis for the joyplot:
        - add the y label if required (as an ytick)
        - add y grid if required
        - make the background transparent
        - set the xlim according to the x_range
        - hide the xaxis and the spines
    """
    if col_name is not None:
        ax.set_yticks([0])
        ax.set_yticklabels([col_name], fontsize=ylabelsize, rotation=yrot)
        ax.yaxis.grid(grid)
    else:
        ax.yaxis.set_visible(False)
    ax.patch.set_alpha(0)
    ax.set_xlim(20, 80)                                       #set x range here
    #ax.set_xlim([min(x_range), max(x_range)])
    ax.tick_params(axis='both', which='both', length=0, pad=10)
    ax.xaxis.set_visible(_DEBUG)
    ax.set_frame_on(_DEBUG)

def _is_numeric(x):
    """ Whether the array x is numeric. """
    return all(is_number(i) for i in x)

def _get_alpha(i, n, start=0.4, end=1.0):
    """ Compute alpha value at position i out of n """
    return start + (1 + i)*(end - start)/n

def _remove_na(l):
    """ Remove NA values. Should work for lists, arrays, series. """
    return Series(l).dropna().values

def _moving_average(a, n=3, zero_padded=False):
    """ Moving average of order n.
        If zero padded, returns an array of the same size as
        the input: the values before a[0] are considered to be 0.
        Otherwise, returns an array of length len(a) - n + 1 """
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    if zero_padded:
        return ret / n
    else:
        return ret[n - 1:] / n

def joyplot(data, column=None, by=None, grid=False,
            xlabelsize=None, xrot=None, ylabelsize=None, yrot=None,
            ax=None, figsize=None,
            hist=False, bins=10,
            fade=False, ylim='max',
            fill=True, linecolor=None,                                  #chng 1 to 2
            overlap=1, background=None,
            labels=None, xlabels=True, ylabels=True,
            range_style='all',
            x_range=None,
            title=None,
            colormap=None,
            color=None,
            **kwds):
    """
    Draw joyplot of a DataFrame, or appropriately nested collection,
    using matplotlib and pandas.
    A joyplot is a stack of vertically aligned density plots / histograms.
    By default, if 'data' is a DataFrame,
    this function will plot a density plot for each column.
    This wrapper method tries to convert whatever structure is given
    to a nested collection of lists with additional information
    on labels, and use the private _joyplot function to actually
    draw theh plot.
    Parameters
    ----------
    data : DataFrame, Series or nested collection
    column : string or sequence
        If passed, will be used to limit data to a subset of columns
    by : object, optional
        If passed, used to form separate plot groups
    grid : boolean, default True
        Whether to show axis grid lines
    labels : boolean or list, default True.
        If list, must be the same size of the de
    xlabelsize : int, default None
        If specified changes the x-axis label size
    xrot : float, default None
        rotation of x axis labels
    ylabelsize : int, default None
        If specified changes the y-axis label size
    yrot : float, default None
        rotation of y axis labels
    ax : matplotlib axes object, default None
    figsize : tuple
        The size of the figure to create in inches by default
    hist : boolean, default False
    bins : integer, default 10
        Number of histogram bins to be used
    color : color or colors to be used in the plots. It can be:
        a string or anything interpretable as color by matplotib;
        a list of colors. See docs / examples for more details.
    kwds : other plotting keyword arguments
        To be passed to hist/kde plot function
    """

    if column is not None:
        if not isinstance(column, (list, np.ndarray)):
            column = [column]

    def _grouped_df_to_standard(grouped, column):
        converted = []
        labels = []
        for i, (key, group) in enumerate(grouped):
            if column is not None:
                group = group[column]
            labels.append(key)
            converted.append([_remove_na(group[c]) for c in group.columns if _is_numeric(group[c])])
            if i == 0:
                sublabels = [col for col in group.columns if _is_numeric(group[col])]
        return converted, labels, sublabels

    #################################################################
    # GROUPED
    # - given a grouped DataFrame, a group by key, or a dict of dicts of Series/lists/arrays
    # - select the required columns/Series/lists/arrays
    # - convert to standard format: list of lists of non-null arrays
    #   + extra parameters (labels and sublabels)
    #################################################################
    if isinstance(data, DataFrameGroupBy):
        grouped = data
        converted, _labels, sublabels = _grouped_df_to_standard(grouped, column)
        if labels is None:
            labels = _labels
    elif by is not None and isinstance(data, DataFrame):
        grouped = data.groupby(by)
        if column is None:
            # Remove the groupby key. It's not automatically removed by pandas.
            column = list(data.columns).remove(by)
        converted, _labels, sublabels = _grouped_df_to_standard(grouped, column)
        if labels is None:
            labels = _labels
        # If there is at least an element which is not a list of lists.. go on.
    elif isinstance(data, dict) and all(isinstance(g, dict) for g in data.values()):
        grouped = data
        if labels is None:
            labels = list(grouped.keys())
        converted = []
        for i, (key, group) in enumerate(grouped.items()):
            if column is not None:
                converted.append([_remove_na(g) for k,g in group.items() if _is_numeric(g) and k in column])
                if i == 0:
                    sublabels = [k for k,g in group.items() if _is_numeric(g)]
            else:
                converted.append([_remove_na(g) for k,g in group.items() if _is_numeric(g)])
                if i == 0:
                    sublabels = [k for k,g in group.items() if _is_numeric(g)]
    #################################################################
    # PLAIN:
    # - given a DataFrame or list/dict of Series/lists/arrays
    # - select the required columns/Series/lists/arrays
    # - convert to standard format: list of lists of non-null arrays + extra parameter (labels)
    #################################################################
    elif isinstance(data, DataFrame):
        if column is not None:
            data = data[column]
        converted = [[_remove_na(data[col])] for col in data.columns if _is_numeric(data[col])]
        labels = [col for col in data.columns if _is_numeric(data[col])]
        sublabels = None
    elif isinstance(data, dict):
        if column is not None:
            converted = [[_remove_na(g)] for k,g in data.items() if _is_numeric(g) and k in column]
            labels = [k for k,g in data.items() if _is_numeric(g) and k in column]
        else:
            converted = [[_remove_na(g)] for k,g in data.items() if _is_numeric(g)]
            labels = [k for k,g in data.items() if _is_numeric(g)]
        sublabels = None
    elif isinstance(data, list):
        if column is not None:
            converted = [[_remove_na(g)] for g in data if _is_numeric(g) and i in column]
        else:
            converted = [[_remove_na(g)] for g in data if _is_numeric(g)]
        if labels and len(labels) != len(converted):
            raise ValueError("The number of labels does not match the length of the list.")

        sublabels = None
    else:
        raise TypeError("Unknown type for 'data': {!r}".format(type(data)))

    if ylabels is False:
        labels = None

    if all(len(subg)==0 for g in converted for subg in g):
        raise ValueError("No numeric values found. Joyplot requires at least a numeric column/group.")

    if any(len(subg)==0 for g in converted for subg in g):
        warn("At least a column/group has no numeric values.")


    return _joyplot(converted, labels=labels, sublabels=sublabels,
                    grid=grid,
                    xlabelsize=xlabelsize, xrot=xrot, ylabelsize=ylabelsize, yrot=yrot,
                    ax=ax, figsize=figsize,
                    hist=hist, bins=bins,
                    fade=fade, ylim=ylim,
                    fill=fill, linecolor=linecolor,
                    overlap=overlap, background=background,
                    xlabels=xlabels,
                    range_style=range_style, x_range=x_range,
                    title=title,
                    colormap=colormap,
                    color=color,
                    **kwds)

###########################################

def plot_density(ax, x_range, v, kind="kde", bw_method=None,
                 bins=50,
                 fill=False, linecolor=None, clip_on=True, **kwargs):
    """ Draw a density plot given an axis, an array of values v and an array
        of x positions where to return the estimated density.
    """
    v = _remove_na(v)
    if len(v) == 0 or len(x_range) == 0:
        return

    if kind == "kde":
        try:
            gkde = gaussian_kde(v, bw_method=bw_method)
            y = gkde.evaluate(x_range)
        except ValueError:
            # Handle cases where there is no data in a group.
            y = np.zeros_like(x_range)
        except np.linalg.LinAlgError as e:
            # Handle singular matrix in kde computation.
            distinct_values = np.unique(v)
            if len(distinct_values) == 1:
                # In case of a group with a single value val,
                # that should have infinite density,
                # return a δ(val)
                val = distinct_values[0]
                warnings.warn("The data contains a group with a single distinct value ({}) "
                              "having infinite probability density. "
                              "Consider using a different visualization.".format(val))

                # Find index i of x_range
                # such that x_range[i-1] < val ≤ x_range[i]
                i = np.searchsorted(x_range, val)

                y = np.zeros_like(x_range)
                y[i] = 1
            else:
                raise e

    elif kind == "counts":
        y, bin_edges = np.histogram(v, bins=bins, range=(min(x_range), max(x_range)))
        # np.histogram returns the edges of the bins.
        # We compute here the middle of the bins.
        x_range = _moving_average(bin_edges, 2)
    elif kind == "normalized_counts":
        y, bin_edges = np.histogram(v, bins=bins, density=False,
                                    range=(min(x_range), max(x_range)))
        # np.histogram returns the edges of the bins.
        # We compute here the middle of the bins.
        y = y / len(v)
        x_range = _moving_average(bin_edges, 2)
    elif kind == "values":
        # Warning: to use values and get a meaningful visualization,
        # x_range must also be manually set in the main function.
        y = v
        x_range = list(range(len(y)))
    else:
        raise NotImplementedError

    if fill:
        ax.fill_between(x_range, 0.0, y, clip_on=clip_on, **kwargs)

        # Hack to have a border at the bottom at the fill patch
        # (of the same color of the fill patch)
        # so that the fill reaches the same bottom margin as the edge lines
        # with y value = 0.0
        kw = kwargs
        kw["label"] = None
        ax.plot(x_range, [0.0]*len(x_range), clip_on=clip_on, **kw)

    if linecolor is not None:
        kwargs["color"] = linecolor

    # Remove the legend labels if we are plotting filled curve:
    # we only want one entry per group in the legend (if shown).
    if fill:
        kwargs["label"] = None

    ax.plot(x_range, y, clip_on=clip_on, **kwargs)

###########################################

def _joyplot(data,
             grid=False,
             labels=None, sublabels=None,
             xlabels=True,
             xlabelsize=None, xrot=None,
             ylabelsize=None, yrot=None,
             ax=None, figsize=None,
             hist=False, bins=10,                       #hist = true
             fade=False,
             xlim=None, ylim='max',
             fill=True, linecolor=None,
             overlap=1, background=None,
             range_style='all', x_range=None, tails=0.8,
             title=None,
             legend=False, loc="upper right",
             colormap=None, color=None,
             **kwargs):
    """
    Internal method.
    Draw a joyplot from an appropriately nested collection of lists
    using matplotlib and pandas.
    Parameters
    ----------
    data : DataFrame, Series or nested collection
    grid : boolean, default True
        Whether to show axis grid lines
    labels : boolean or list, default True.
        If list, must be the same size of the de
    xlabelsize : int, default None
        If specified changes the x-axis label size
    xrot : float, default None
        rotation of x axis labels
    ylabelsize : int, default None
        If specified changes the y-axis label size
    yrot : float, default None
        rotation of y axis labels
    ax : matplotlib axes object, default None
    figsize : tuple
        The size of the figure to create in inches by default
    hist : boolean, default False
    bins : integer, default 10
        Number of histogram bins to be used
    kwarg : other plotting keyword arguments
        To be passed to hist/kde plot function
    """

    if fill is True and linecolor is None:
        linecolor = "k"

    if sublabels is None:
        legend = False

    def _get_color(i, num_axes, j, num_subgroups):
        if isinstance(color, list):
            return color[j] if num_subgroups > 1 else color[i]
        elif color is not None:
            return color
        elif isinstance(colormap, list):
            return colormap[j](i/num_axes)
        elif color is None and colormap is None:
            num_cycle_colors = len(plt.rcParams['axes.prop_cycle'].by_key()['color'])
            return plt.rcParams['axes.prop_cycle'].by_key()['color'][j % num_cycle_colors]
        else:
            return colormap(i/num_axes)

    ygrid = (grid is True or grid == 'y' or grid == 'both')
    xgrid = (grid is True or grid == 'x' or grid == 'both')

    num_axes = len(data)

    if x_range is None:
        global_x_range = _x_range([v for g in data for sg in g for v in sg])
    else:
        global_x_range = _x_range(x_range, 0.0)
    global_x_min, global_x_max = min(global_x_range), max(global_x_range)

    # Each plot will have its own axis
    fig, axes = _subplots(naxes=num_axes, ax=ax, squeeze=False,
                          sharex=True, sharey=False, figsize=figsize,
                          layout_type='vertical')
    _axes = _flatten(axes)

    # The legend must be drawn in the last axis if we want it at the bottom.
    if loc in (3, 4, 8) or 'lower' in str(loc):
        legend_axis = num_axis - 1
    else:
        legend_axis = 0

    # A couple of simple checks.
    if labels is not None:
        assert len(labels) == num_axes
    if sublabels is not None:
        assert all(len(g) == len(sublabels) for g in data)
    if isinstance(color, list):
        assert all(len(g) <= len(color) for g in data)
    if isinstance(colormap, list):
        assert all(len(g) == len(colormap) for g in data)

    for i, group in enumerate(data):
        a = _axes[i]
        group_zorder = i
        if fade:
            kwargs['alpha'] = _get_alpha(i, num_axes)

        num_subgroups = len(group)

        if hist:
            # matplotlib hist() already handles multiple subgroups in a histogram
            a.hist(group, label=sublabels, bins=bins, color=color,
                   range=[min(global_x_range), max(global_x_range)],
                   edgecolor=linecolor, zorder=group_zorder, **kwargs)
        else:
            for j, subgroup in enumerate(group):

                # Compute the x_range of the current plot
                if range_style == 'all':
                # All plots have the same range
                    x_range = global_x_range
                elif range_style == 'own':
                # Each plot has its own range
                    x_range = _x_range(subgroup, tails)
                elif range_style == 'group':
                # Each plot has a range that covers the whole group
                    x_range = _x_range(group, tails)
                elif isinstance(range_style, (list, np.ndarray)):
                # All plots have exactly the range passed as argument
                    x_range = _x_range(range_style, 0.0)
                else:
                    raise NotImplementedError("Unrecognized range style.")

                if sublabels is None:
                    sublabel = None
                else:
                    sublabel = sublabels[j]

                element_zorder = group_zorder + j/(num_subgroups+1)
                element_color = _get_color(i, num_axes, j, num_subgroups)

                plot_density(a, x_range, subgroup,
                             fill=fill, linecolor=linecolor, label=sublabel,
                             zorder=element_zorder, color=element_color,
                             bins=bins, **kwargs)


        # Setup the current axis: transparency, labels, spines.
        col_name = None if labels is None else labels[i]
        _setup_axis(a, global_x_range, col_name=col_name, grid=ygrid,
                ylabelsize=ylabelsize, yrot=yrot)

        # When needed, draw the legend
        if legend and i == legend_axis:
            a.legend(loc=loc)
            # Bypass alpha values, in case
            for p in a.get_legend().get_patches():
                p.set_facecolor(p.get_facecolor())
                p.set_alpha(1.0)
            for l in a.get_legend().get_lines():
                l.set_alpha(1.0)


    # Final adjustments

    # Set the y limit for the density plots.
    # Since the y range in the subplots can vary significantly,
    # different options are available.
    if ylim == 'max':
        # Set all yaxis limit to the same value (max range among all)
        max_ylim = max(a.get_ylim()[1] for a in _axes)
        min_ylim = min(a.get_ylim()[0] for a in _axes)
        for a in _axes:
            a.set_ylim([min_ylim - 0.1*(max_ylim-min_ylim), max_ylim])

    elif ylim == 'own':
        # Do nothing, each axis keeps its own ylim
        pass

    else:
        # Set all yaxis lim to the argument value ylim
        try:
            for a in _axes:
                a.set_ylim(ylim)
        except:
            print("Warning: the value of ylim must be either 'max', 'own', or a tuple of length 2. The value you provided has no effect.")

    # Compute a final axis, used to apply global settings
    last_axis = fig.add_subplot(1, 1, 1)

    # Background color
    if background is not None:
        last_axis.patch.set_facecolor(background)

    for side in ['top', 'bottom', 'left', 'right']:
        last_axis.spines[side].set_visible(_DEBUG)

    # This looks hacky, but all the axes share the x-axis,
    # so they have the same lims and ticks
    last_axis.set_xlim(_axes[0].get_xlim())
    if xlabels is True:
        last_axis.set_xticks(np.array(_axes[0].get_xticks()[1:-1]))
        for t in last_axis.get_xticklabels():
            t.set_visible(True)
            t.set_fontsize(xlabelsize)
            t.set_rotation(xrot)

        # If grid is enabled, do not allow xticks (they are ugly)
        if xgrid:
            last_axis.tick_params(axis='both', which='both',length=0)
    else:
        last_axis.xaxis.set_visible(False)

    last_axis.yaxis.set_visible(False)
    last_axis.grid(xgrid)


    # Last axis on the back
    last_axis.zorder = min(a.zorder for a in _axes) - 1
    _axes = list(_axes) + [last_axis]

    if title is not None:
        plt.title(title)


    # The magic overlap happens here.
    h_pad = 10 + (- 6*(1 + overlap))
    fig.tight_layout(h_pad=h_pad)


    return fig, _axes

In [ ]:
#BONUS - Joyplots (Density plots of Tumor Volumes for the most promising treatments)
# NOTE:  Joyplot function is not the work of this student. It is a free-to-use function.
%matplotlib inline

fig, axes = joyplot(df)

a = axes[-1]
xticks = a.get_xticks()
a.set_xticks(np.arange(xticks.min(), xticks.max()+5, 5))
plt.title("Final Tumor Volume for Treatments")

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest
#note that 'Placebo' comparison is a must (control). We sort by tumor final volume to obtain the best treatment outcome.
df['Group'] = 'Treatment Final Tumor vol'



df.groupby('Group').boxplot()
plt.ylabel('Tumor Vol mm^3')

In [ ]:

ramicane_filter = cleaned_df[cleaned_df['Drug Regimen'].isin(['Ramicane'])]

filter_df=cleaned_df[cleaned_df['Drug Regimen'].isin(['Ramicane', 'Capomulin','Ceftamin','Infubinol'])]
print(filter_df)
filter_df.boxplot(by='Drug Regimen', 
                       column=['Tumor Volume (mm3)'], 
                       grid=True)
plt.ylabel('Tumor Vol mm^3')
plt.title('')
#cleaned_df.boxplot(by='Drug Regimen')

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin
# get how many time points are unique
timepts = drop_dup_df["Timepoint"].nunique()
drug_reg_df = drop_dup_df.groupby("Drug Regimen")
#print(drug_reg_df.head())
Capomulin = drop_dup_df[drop_dup_df['Drug Regimen']=='Capomulin']

df_plot_scatter = Capomulin.head(timepts)

mouse = df_plot_scatter.iloc[0, 0]

plt.scatter(df_plot_scatter['Timepoint'], df_plot_scatter['Tumor Volume (mm3)'])
#plt.title('Tumor Vol vs Timepoint for mouse:',mouse)
plt.xlabel("Timepoint")
plt.ylabel("Tumor vol mm^3")
plt.title("Tumor Vol vs Timepoint (Capomulin) for Mouse: "+ mouse)

x = np.array(df_plot_scatter['Timepoint'])
y = np.array(df_plot_scatter['Tumor Volume (mm3)'])
(slope, intercept, rvalue, pvalue, stderr) = linregress(x, y)
regress_values = x * slope + intercept
rvalue = round(rvalue,2)
rsqr = round(rvalue**2,2)
rstring = str(rsqr)
rstring = 'R-sqr= '+ rstring
print (rvalue)
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

plt.scatter(x,y)
plt.plot(x,regress_values,"r-")
plt.annotate(line_eq,(0,30),fontsize=10,color="black")
plt.annotate(rstring,(0,28),fontsize=10,color="black")

## Correlation and Regression

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen
# Get x and y for plot

x = np.array(Capomulin['Weight (g)'])
y = np.array(Capomulin['Tumor Volume (mm3)'])
plt.xlabel("Mouse Weight (g)")
plt.ylabel("Tumor vol mm^3")
plt.title("Tumor Vol vs Mouse Weight(g) for (Capomulin)")
(slope, intercept, rvalue, pvalue, stderr) = linregress(x, y)
regress_values = x * slope + intercept
rvalue = round(rvalue,2)

rsqr = round(rvalue**2,2)
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
rstring= 'r-sqr =' + str(rsqr)
plt.scatter(x,y)
plt.plot(x,regress_values,"r-")
plt.annotate(line_eq,(20,30),fontsize=10,color="black")
plt.annotate(rstring,(20,28),fontsize=10,color="black")

## Correlation and Regression

In [ ]:
#We know that the Tumor volumes are not normally distributed, but for fun
#let's run a multiple linear regression using OLS method to see if tumor volumes are impacted by other factors
import statsmodels.api as sm
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder

ramificane_filter = ramicane_filter.drop(['Timepoint', 'Metastatic Sites','Mouse ID','Drug Regimen'], axis=1)
df_sex = ramicane_filter.drop(['Weight (g)', 'Age_months','Tumor Volume (mm3)'], axis=1)

lb_make = LabelEncoder()
df_code["sex_code"] = lb_make.fit_transform(ramificane_filter["Sex"])
df_code[["Sex", "sex_code"]].head(11)
ramificane_filter['sex']=df_code["sex_code"]
print(ramificane_filter)
X = ramificane_filter[['sex','Age_months','Weight (g)']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = ramificane_filter['Tumor Volume (mm3)']

regr = linear_model.LinearRegression()
regr.fit(X, Y)
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)